ARR_ROOT=/ruta/docker/arr
ARR_DATA_ROOT=/ruta/datos
ARR_ROOT_UNC=\\nas\docker\arr
ARR_PANEL_URL=http://localhost:5830

WIREGUARD_PRIVATE_KEY=CAMBIAR_EN_ENTORNO_REAL
WIREGUARD_ADDRESSES=CAMBIAR_EN_ENTORNO_REAL
VPN_FIREWALL_OUTBOUND_SUBNETS=CAMBIAR_EN_ENTORNO_REAL

QBT_USER=CAMBIAR_EN_ENTORNO_REAL
QBT_PASSWORD=CAMBIAR_EN_ENTORNO_REAL

RDT_USER=CAMBIAR_EN_ENTORNO_REAL
RDT_PASSWORD=CAMBIAR_EN_ENTORNO_REAL

TMDB_API_TOKEN=CAMBIAR_EN_ENTORNO_REAL
JACKETT_API_KEY=CAMBIAR_EN_ENTORNO_REAL
REAL_DEBRID_TOKEN=CAMBIAR_EN_ENTORNO_REAL
REAL_DEBRID_API=https://api.real-debrid.com/rest/1.0
